# Ignore node_modules
node_modules

# Ignore log files
*.log

# Ignore environment files
.env
.config

# Ignore database files
libs/database/src/data

# Ignore build artifacts
dist
coverage
temp


# Ignore Docker files
Dockerfile
docker-compose.yml

.eslintrc.js
.gitignore
.prettierrc

README.md

